.counter {
    border: solid white 1px;
    padding: 5px;

    &__buttons {
        background-color: black;
        border: solid white 0.5px;
    }
    &__buttons:hover {
        opacity: 0.8;
        cursor: pointer;
    }
    &__add:hover{
        background-color: lightgreen;
        color: black;
    }
    &__minus:hover{
        background-color: red;
        color: black;
    }
}