.newUser {
    padding: 20px;
    margin-top: 20px;
    align-items: center;

    &__user {
        background-color: black;
    }
    &__role {
        background-color: black;
    }
    &__button {
        background-color: black;
    }
}