@use "./Components/Counter/Counter.scss";
@use "./Components/Header/Header.scss";
@use "./Components/Ticket/Ticket.scss";


*{
  background-color: turquoise;
}

.container {

  border: solid 2px black;
  padding: 10px 10px 10px 10px;
  margin: 20px;
  text-align: center;
  
} 


@media screen and (min-width: 768px) {
  .container {

    border: solid 2px black;
    padding: 10px 10px 10px 10px;
    margin: 20px;
    text-align: center;
    
    &__tickets {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr ;
      gap: 5px;
      
    }
  } 
}


